
tensorflow==2.15.0
keras==2.15.0
torch==2.2.2
torchvision==0.17.2
facenet-pytorch==2.6.0
opencv-python==4.9.0.80
scikit-image==0.22.0
scikit-learn==1.4.2
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
tqdm==4.66.2
joblib==1.3.2
